<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('_bootstrap_meta')%>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/images/jobs.png" type="image/x-icon" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/job.css" />
        <title>Jobs</title>
    </head>
    <body>
        <%- include('_header') %>

        <div class="w-75 mx-auto mt-5">
            <!-- page heading -->
            <h1>Job Listings</h1>
            <ul>
                <!-- Print each job in jobs.data -->
                <% jobs.data.forEach(function(job) { %>
                <li class="job-card">
                    <div class="info">
                        <div class="job-heading"><h2><%= job.title %></h2></div>
                        <div class="job-company"><strong>Company:</strong> <%= job.company %></div>
                        <div class="job-post-date"><strong>Post Date:</strong> <%= job.postDate %></div>
                        <div class="job-source"><strong>Job Source:</strong> <%= job.jobSource %></div>
                    </div>
                    <div class="apply">
                        <a href="<%= job.url %>" target="_blank"><button type="submit" class="btn btn-warning btn-small m-2">Apply</button></a>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>

        <%- include('_bootstrap_script')%>
    </body>
</html>
